{% extends "base.html" %}
{% block js %}
    <script>
 $(function(){
     $("input").mouseover(function(){
         var id = $(this).attr('value');
{#         $.getJSON("{% url causes_popup %}",{"id":id},function(data){#}
{##}
{#         });#}
     })
    })
    </script>

{% endblock %}
{%block  content %}
    {% if defects %}
        <p>Выберите пожалуйста вашу поломку.</p>
        <form action="causes/" method="post">{% csrf_token %}
            {% for defect in defects %}
                <input type="radio" name="defect" value="{{ defect.pk }}">{{ defect }}<br>
            {% endfor %}
            <input type="submit" value="Выбрал">
        </form>

    {% else %}
        В базе данных отсутствуют возможные поломки автомобилей
    {% endif %}

{% endblock %}