<script>
    $(function(){
      $("#search_input").typeahead({
          source: function (query, process) {
              return $.getJSON("search_autocenter_by_name", function(data){
                      process(data['lol']);
              });
          },
          updater: function(obj){
              console.log($(this.$element));
              $(this.$element).attr("href",obj);
              //TODO Открыть на карте // После открытия Enter в input - переход на страницу
              return obj;
          }
      });
    });
</script>

<div class="row-fluid">
    <div class="span2">
        <p>Или найти по названию: </p>
    </div>
    <div class="span10">
        <input id='search_input' type="text" placeholder="введите первые буквы названия" class="span12" data-provide="typeahead" data-items="4">
    </div>
</div>
<div class="row-fluid">
    <div class="span10 offset2">
        <ul class="inline" style="margin-top:-8px;">
            <li class="muted"><small><strong><em>последние запросы:</strong></em></small></li>
            {% for autocenter in autocenters|slice:"5" %}
                <li>
                    <a href="{{ autocenter.get_absolute_url }}"><small><em>{{ autocenter }}</em></small></a>
                    {% if not forloop.last %},{% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>