{% extends "new_base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block extrahead %}
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript">

        var placeMarkIcons;
        placeMarkIcons = {
            "1":"twirl#workshopIcon",
            "2":"twirl#carIcon",
            "3":"twirl#dryCleanerIcon",
            "4":"twirl#tireIcon",
            "5":"twirl#gasStationIcon"
        };


        ymaps.ready(init);
        var myMap,
            MyPlacemark,
            placesCollection,
            collections;
            collections = {},
            placeM;

        function init(){
            myMap = new ymaps.Map("map", {
                center: [54.916087,37.417559],
                zoom: 12,
            });

            {% for type in autocentertypes %}
                placesCollection = new ymaps.GeoObjectCollection({},{preset : placeMarkIcons[{{  type.pk}}]});
                collections["{{ type.pk }}"] = placesCollection;
                {% for autocenter in type.autocenter_set.all %}
                    myPlacemark = new ymaps.Placemark([+{{ autocenter.latitude|stringformat:"f" }}-0.000{{ type.pk }},{{ autocenter.longitude|stringformat:"f" }}],{
                        balloonContent: '{{ autocenter.full_name }} - {{ type }}'
                    });
                    placesCollection.add(myPlacemark);
                {% endfor %}
                myMap.geoObjects.add(placesCollection);
            {% endfor %}
{#            {% for autocenter in autocenters %}#}
{#                {% for type in autocenter.maintenance.all %}#}
{##}
{#                myPlacemark = new ymaps.Placemark([+{{ autocenter.latitude|stringformat:"f" }}+0.0000{{ forloop.counter|add:"-1" }},{{ autocenter.longitude|stringformat:"f" }}], {#}
{#                    content: 'Я здесь!',#}
{#                    balloonContent: '{{ autocenter.full_name }} - {{ type }}',#}
{#                    iconContent: '{{ autocenter.pk }}'#}
{##}
{#                },{#}
{#                    preset:placeMarkIcons["{{ type.pk }}"]#}
                    {# iconImageHref:"{% static "images/pingPong_me.png" %}" #}
{#                });#}
{#                myMap.geoObjects.add(myPlacemark);#}
{#                {% endfor %}#}
            placeM = new ymaps.Placemark([54.916087,37.417559],{
                balloonContent: 'Центр'
            });

            myMap.geoObjects.add(placeM);
            myMap.controls.add('mapTools');
            myMap.controls.add('zoomControl');
{#            {% endfor %}#}
        }
        $(function(){
{#            $(".types").click(function(){#}
{#                console.log("Yeou!",myMap);#}
{#                console.log(myMap.geoObjects);#}
{#                var z = collections[$(this).attr("data-id")];#}
{#                z.each(toggleBalloon);#}
{#            });#}





{#            function toggleBalloon(geoObject){#}
{#                geoObject.visible=false;#}
{#            }#}
        })
    </script>
{% endblock  %}

{% block content %}
    <div id="box1">
        <h2>Добро пожаловать, Бро! Будь добр, не кури бобров. Почини свой таз. с нашим сервисом</h2>
        <p>Сервис представляет собой <strong>ой-ой ой</strong> очень вкусную няшку, с которым вам будет куда проще диагностировать у себя поломку авто и выбрать подходящий сервис на ваши Финансы и желание качественного ремонта.</p>
    </div>
    <div id="map" style="width: 600px; height: 400px"></div>
    {% for autocenter in autocenters %}
        {{ autocenter }}
        {{ autocenter.latitude|stringformat:"f" }}
        {{ autocenter.coordinates }}
        {{ autocenter.maintenance.all }}
    {% endfor %}
    <p>
    {% for type in autocentertypes %}
        <a href="#" class="types" data-id={{ type.pk }}>{{ type }}</a>
        {{ type.autocenter_set.all }}
    {% endfor %}


    </p>

{% endblock %}