{% extends "base.html" %}
{#{% load thread_comments %}#}
{% load threadedcomments_tags %}
{% block js %}
    <script>
        $(function(){
            $("a.new_comment").click(function(){
                var parent_id = +$(this).prevAll("a:first").attr('name').substr("1");
              $("input[name='parent']").attr('value',parent_id);
            })

        })
    </script>
{% endblock %}
{% block title %}
Автомастерская - {{ autorepair }}
{% endblock %}
{% block content %}
    {% load comments %}
    {% load table %}
  <section>
  <header>{{ autorepair }}</header>
  <p>{{ autorepair.about }}</p>

<p>  Список услуг от <strong>{{ autorepair }}</strong></p>
  {% preiskurant autorepair %}
  </section>

{##########################}
{#   К О М Е Н Т А Р И И  #}
{#   К О М Е Н Т А Р И И  #}

    {% get_comment_list for autorepair as comment_list%}

    {% for comment in comment_list|fill_tree|annotate_tree %}

        {% place_comment comment %}
    {% endfor %}


    {% get_comment_form for autorepair as form %}

        <table>
        <a name="new_comment"></a>
            <form action="/comments/post/" method="post">{% csrf_token %}
                {{ form }}
                <tr>
                    <td colspan="2">
                        <input type="hidden" name="next" value="{% url autorepair id=autorepair.pk %}" />
                        <input type="submit" name="submit" value="Post">
                        <input type="submit" name="preview" value="Preview">
                    </td>
                </tr>
            </form>
        </table>

{% endblock %}