<!DOCTYPE html>
<html>
  <head>
    <title>АвтоСерпухов (beta) v1.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Evgeniy Milakin, Sergey Vlasov">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <style type="text/css">

      html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }

    .page-wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    }

    * html .page-wrapper {
    height: 100%;
}
.page-buffer {
    height: 50px;
}

    </style>

    <link href="css/bootstrap-responsive.css" rel="stylesheet">



    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
<!--    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png"> -->
  </head>
  <body>
    <div class="page-wrapper">
    <div class="container">

      <header>
        <div class="row">
        <div class="span12">
                &nbsp; 
        </div>
      </div>
<div class="row">
        <div class="span6">
                <h1>АвтоСерпухов <span class="label label-info" style="vertical-align:top">beta</span></h1> 
        </div>


        <div class="span6">
        <ul class="nav nav-pills pull-right">
          <li>
            <a href="index.html">Главная</a>
          </li>
          <li class="active"><a href="list.html">Каталог</a></li>
          <li><a href="#">Добавить место</a></li>
          <li><a href="#">О проекте</a></li>
        </ul>
      </div>
</div>
        
<div class="row">
  <div class="span8">
        <h4 class="muted">облегчаем жизнь автомобилистам с 2013 года.</h4>
  </div>

  <div class="span4">
    <ul class="inline pull-right">
         <li><img src="http://icons.iconarchive.com/icons/icojam/blueberry-basic/32/rss-icon.png"></li>
        <li><img src="http://www.ti.com/ww/ru/images/follow-icon-twitter.gif"></li>
        <li><img src="http://chilli-travel.ru/static/img/icon_vkontakte.png"> </li>
    </ul>
  </div>
 </div>
      </header>

    <hr>

<div class="row-fluid">

      <div class="span12">
      <ul class="inline">
        <li>Сортировать по:</li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="path/to/page.html">Типу <b class="caret"></b></a>
          <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">По типу и по рейтингу</a></li>
                  <li><a tabindex="-1" href="#">Только по типу</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#">Рейтингу <b class="caret"></b></a></li>
        <li class="dropdown"><a href="#">Названию <b class="caret"></b></a></li>
      </ul></div>

    </div>

<div class="row-fluid">
  <div class="span8">
            <div class="media thumbnail">
              <a class="pull-left" href="#">
                <img class="media-object img-polaroid" src="http://stobravo.ru/uploads/posts/2012-10/thumbs/1350538316_aa7g-05.03.jpg">
              </a>
              <div class="media-body">
                <h4 class="media-heading">WV Авто, автосервис</h4> 
                <p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> (<a href="#">14 отзывов</a>)</p>
                                  <address> 795 Folsom Ave, Suite 600, San Francisco, CA 94107<br>
                    Тел: (123) 456-7890  
                  </address>
                  <p style="margin-top:-15px;">Sed eu leo orci, in rhoncus puru condimentum gravida metus Sed eu leo orci, in rhoncus puru condimentum gravida metus Sed eu leo orci, in rhoncus puru condimentum gravida.</p>
<button class="btn btn-mini" type="button">Подробнее</button>

              </div>
            </div>
              
<div class="media thumbnail">
              <a class="pull-left" href="#">
                <img class="media-object img-polaroid" src="http://stobravo.ru/uploads/posts/2012-10/thumbs/1350538316_aa7g-05.03.jpg">
              </a>
              <div class="media-body">
                <h4 class="media-heading">WV Авто, автосервис</h4> 
                <p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> (<a href="#">14 отзывов</a>)</p>
                                  <address> 795 Folsom Ave, Suite 600, San Francisco, CA 94107<br>
                    Тел: (123) 456-7890  
                  </address>
                  <p style="margin-top:-15px;">Sed eu leo orci, in rhoncus puru condimentum gravida metus Sed eu leo orci, in rhoncus puru condimentum gravida metus Sed eu leo orci, in rh.</p>
<button class="btn btn-mini" type="button">Подробнее</button>

              </div>
            </div>

            <div class="media thumbnail">
              <a class="pull-left" href="#">
                <img class="media-object img-polaroid" src="http://stobravo.ru/uploads/posts/2012-10/thumbs/1350538316_aa7g-05.03.jpg">
              </a>
              <div class="media-body">
                <h4 class="media-heading">WV Авто, автосервис</h4> 
                <p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> (<a href="#">14 отзывов</a>)</p>
                                  <address> 795 Folsom Ave, Suite 600, San Francisco, CA 94107<br>
                    Тел: (123) 456-7890  
                  </address>
                  <p style="margin-top:-15px;">Sed eu leo orci, in rhoncus puru condimentum gravida metus Sed eu leo orci, in rhoncus puru condimentum gravida metus Sed eu leo orci, in rh.</p>
<button class="btn btn-mini" type="button">Подробнее</button>

              </div>
            </div>

            <div class="media thumbnail">
              <a class="pull-left" href="#">
                <img class="media-object img-polaroid" src="http://stobravo.ru/uploads/posts/2012-10/thumbs/1350538316_aa7g-05.03.jpg">
              </a>
              <div class="media-body">
                <h4 class="media-heading">WV Авто, автосервис</h4> 
                <p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> (<a href="#">14 отзывов</a>)</p>
                                  <address> 795 Folsom Ave, Suite 600, San Francisco, CA 94107<br>
                    Тел: (123) 456-7890  
                  </address>
                  <p style="margin-top:-15px;">Sed eu leo orci, in rhoncus puru condimentum gravida metus Sed eu leo orci, in rhoncus puru condimentum gravida metus Sed eu leo orci, in rh.</p>
<button class="btn btn-mini" type="button">Подробнее</button>

              </div>
            </div>

            <div class="media thumbnail">
              <a class="pull-left" href="#">
                <img class="media-object img-polaroid" src="http://stobravo.ru/uploads/posts/2012-10/thumbs/1350538316_aa7g-05.03.jpg">
              </a>
              <div class="media-body">
                <h4 class="media-heading">WV Авто, автосервис</h4> 
                <p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> (<a href="#">14 отзывов</a>)</p>
                                  <address> 795 Folsom Ave, Suite 600, San Francisco, CA 94107<br>
                    Тел: (123) 456-7890  
                  </address>
                  <p style="margin-top:-15px;">Sed eu leo orci, in rhoncus puru condimentum gravida metus Sed eu leo orci, in rhoncus puru condimentum gravida metus Sed eu leo orci, in rh.</p>
<button class="btn btn-mini" type="button">Подробнее</button>

              </div>
            </div>


            <div class="media">
              
            </div>
            

</div>

<div class="span4">
  <div class="well"><h4>Последние отзывы:</h4>
               <ul class="unstyled">
                  <li><p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> <a href="#">Sed eu leo orci, in rhoncus puru condimentum gravida metus...</a> (<i class="icon-wrench"></i> <a href="#"><strong>Борисово-авто</strong></a>) </p></li>
                  <li><p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> <a href="#">Sed eu leo orci, in rhoncus puru condimentum gravida metus...</a> (<i class="icon-wrench"></i> <a href="#"><strong>Борисово-авто</strong></a>) </p></li>
                  <li><p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> <a href="#">Sed eu leo orci, in rhoncus puru condimentum gravida metus...</a> (<i class="icon-wrench"></i> <a href="#"><strong>Борисово-авто</strong></a>) </p></li>
               </ul>
               <button class="btn" type="button">Все отзывы</button>
             </div>


  <div class="well"><h4>Новые места:</h4>
               <ul class="unstyled">
                  <li><i class="icon-wrench"></i> <a href="#"><strong>Борисово-авто, автосервис</strong></a><a class="pull-right" href="#"><i class="icon-pencil" title="оставить отзыв"></i></a> <address> 795 Folsom Ave, Suite 600, San Francisco, CA 94107</li>
                  <li><i class="icon-wrench"></i> <a href="#"><strong>Борисово-авто, автосервис</strong></a><a class="pull-right" href="#"><i class="icon-pencil" title="оставить отзыв"></i></a> <address> 795 Folsom Ave, Suite 600, San Francisco, CA 94107</li>
                  <li><i class="icon-wrench"></i> <a href="#"><strong>Борисово-авто, автосервис</strong></a><a class="pull-right" href="#"><i class="icon-pencil" title="оставить отзыв"></i></a> <address> 795 Folsom Ave, Suite 600, San Francisco, CA 94107</li>
               </ul></div>


</div>

</div>
     

    </div>

    <div class="page-buffer"></div>

  </div>
    <footer class="footer" style="background-color:#c2c2c2;">
        <div class="container" style="margin:0 auto;">
            <div class="row">
                <div class="span3">
                    <h4>Новости проекта:</h4>
               <ul>
                  <li><a href="#">Sed eu leo orci, in rhoncus puru condimentum gravida metus</a></li>
                  <li><a href="#">Etiam at in rhoncus puru nulla ipsum, in rhoncus purus</a></li>
                  <li><a href="#">Fusce vel magnain rhoncus puru faucibus felis dapibus facilisis</a></li>
               </ul>

                </div>
                <div class="span3">
                    <h4>Пока не придумал:</h4>
               <ul>
                  <li><a href="#">Sed eu leo orci, in rhoncus puru condimentum gravida metus</a></li>
                  <li><a href="#">Etiam at in rhoncus puru nulla ipsum, in rhoncus purus</a></li>
                  <li><a href="#">Fusce vel magnain rhoncus puru faucibus felis dapibus facilisis</a></li>
               </ul>

                    </ul>
                </div>
                <div class="span3">
                    <h4>Пока не придумал:</h4>
               <ul>
                  <li><a href="#">Sed eu leo orci, in rhoncus puru condimentum gravida metus</a></li>
                  <li><a href="#">Etiam at in rhoncus puru nulla ipsum, in rhoncus purus</a></li>
                  <li><a href="#">Fusce vel magnain rhoncus puru faucibus felis dapibus facilisis</a></li>
               </ul>

                </div>

<div class="span3">
                    <p style="margin-top:15px;">&copy;2013 АвтоСерпухов. Все права защищены.</p>

                </div>

            </div>
        </div>
    </footer>


    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>