{% extends "base.html" %}
{% load threadedcomments_tags %}
{% load comments %}
{% load static %}
{% load staticfiles %}
{% load loginza_widget %}
{% load ratings %}
{% load autocenter_tags %}

{% block title %}{{ title }}{% endblock%}
{% block extrastyle %}
    <link href='{% static "css/jquery.rating.css" %}' rel='stylesheet'>
{% endblock %}
{% block extrahead %}
    <script src={% static "js/jquery.rating.js" %}></script>
    <script>
        $(function(){
            $(".star").rating();
            $("#menu-places").addClass("active");
            $("#new_otzyv_form").hide();
            var visible = false;
            $("#new_otzyv").click(function(){
                if (visible){
                    $("#new_otzyv_form").hide();
                    visible = false;
                }
                else {
                    $("#new_otzyv_form").show();
                    visible = true;
                }
            })
        })
    </script>
{% endblock %}
{% block content %}
    <div class=row>
        <div class="span10">
{#            <h1>Описание местечка</h1>#}
            <h2>{{ autocenter }}, {{ autocenter.address }}</h2>
            <p>Теги:{% for tag  in autocenter.maintenance.all %}<a href="#"> {{ tag }} </a>{% endfor %}</p>
        </div>
        <div class="span2">
            <div class="span2 pull-right">
                <span class='label label-info'> Качество: {{ autocenter.kachestvo.get_rating|floatformat }}</span>
            </div>
            <div class="span2 pull-right">
                <span class='label label-info'>Удобство: {{ autocenter.udobstvo.get_rating|floatformat }}</span>
            </div>

            <div class="span2 pull-right">
                <span class="label label-info">Цены: {{ autocenter.stoimost.get_rating|floatformat }}</span>
            </div>

        </div>
    <div></div>
    </div>
    <p>
        Всего отзывов <span class="badge badge-info">{{ autocenter.kachestvo.votes }}</span>
        средняя оценка  <span class="badge badge-success"> {{ autocenter.get_rating|floatformat  }}</span>
    </p>

    {{ autocenter.about|linebreaks }}

    <button class="btn" id='new_otzyv'>Оставить отзыв<i class="icon-pencil" title="оставить отзыв"></i></button>

    <div class="alert">
    <h2> Отзывы</h2>
    </div>
{# Форма отзыва#}
    {% if user.is_authenticated %}
        <form id='new_otzyv_form' method="post" action="">{% csrf_token %}
            <table>
                {{ otzyvForm.as_table }}
                {{ oztyvForm.errors }}
            </table>
             <input type="submit" value="Отправить отзыв">
        </form>
    {% else %}
        <p>Оставить отзыв:{% loginza_button "Чтобы оставить отзыв авторизируйтесь через соц сети"  %}</p>
    {% endif %}

{#  Все отзывы      #}
    {% for otzyv in autocenter.otzyv_set.all %}
        {% identity_data otzyv.user as id_data %}
        <a name="o{{ otzyv.pk }}"></a>
        <h4><img src="{{ id_data.photo }}"> {{ otzyv.user }} оставил отзыв</h4>
        <div class='well' >{{ otzyv.text|linebreaks }}</div>

        <small>
        {% render_comments otzyv %}
        {% if user.is_authenticated %}

            {% get_comment_form for otzyv as form %}
            {% identity_data request.user as current_user_data %}
            <table>
                <form action="/comments/post/" method="post">{% csrf_token %}
                    <img src="{{ current_user_data.photo }}" width="50px" height="50px">
                    {{ form }}
                    <tr>
                        <td colspan="2">
                            <input type="hidden" name="next" value="{{ autocenter.get_absolute_url }}" />
                            <input type="submit" name="submit" value="Отправить">
    {#                        <input type="submit" name="preview" value="Preview">#}
                        </td>
                    </tr>
                </form>
                <a name="new_comment"></a>
            </table>
        {% else %}
           <p>Комментировать:{% loginza_button "Чтобы оставить отзыв авторизируйтесь через соц сети"  %}</p>
        {% endif %}


        </small>
    {% endfor %}



{% endblock %}