{% extends "base.html" %}
{% load threadedcomments_tags %}
{% load comments %}
{% load static %}
{% load staticfiles %}
{% load loginza_widget %}
{% load ratings %}

{% block title %}{{ title }}{% endblock%}
{% block extrastyle %}
    <link href='{% static "css/jquery.rating.css" %}' rel='stylesheet'>
{% endblock %}
{% block extrahead %}
    <script src={% static "js/jquery.rating.js" %}></script>
    <script>
        $(function(){
            $(".star").rating();
        })
    </script>
{% endblock %}
{% block content %}
    <h1>Описание местечка</h1>
    <h2>{{ autocenter }}, {{ autocenter.address }}</h2>
    <p>Теги:{% for tag  in autocenter.maintenance.all %}<a href="#">{{ tag }}</a>{% endfor %}</p>
    <p>Удобство</p>
    <p>Голосов:{{ autocenter.kachestvo.votes }}, набрано баллов {{ autocenter.kachestvo.score }}</p>

    {{ autocenter.about }}



    {% if user.is_authenticated %}

      {% get_comment_form for autocenter as form %}

        <table>
            <form action="/comments/post/" method="post">{% csrf_token %}
                {{ form }}
                <tr>
                    <td colspan="2">
                        <input type="hidden" name="next" value="{{ autocenter.get_absolute_url }}" />
                        <input type="submit" name="submit" value="Отправить">
{#                        <input type="submit" name="preview" value="Preview">#}
                    </td>
                </tr>
            </form>
            {% rating_by_request request on instance.field as could_vote %}

{#            {% with autocenter.udobstvo.get_rating_for_user(request.user) as could_vote  %}#}
                {% if could_vote  %}
                    Можешь проголосвать
                {% else %}
                    Уже голосовал
                {% endif %}
{#            {% endwith %}#}
            <a name="new_comment"></a>
        </table>
    {% else %}
       <p>Оставить отзыв:{% loginza_button "Чтобы оставить отзыв авторизируйтесь через соц сети"  %}</p>
    {% endif %}
    {% render_comments autocenter %} <!--- TODO: Сделать форму комментария над списком --->
    <div id="mc-container"></div>
    <script type="text/javascript">
        var mcSite = '16449';
        (function() {
            var mc = document.createElement('script');
            mc.type = 'text/javascript';
            mc.async = true;
            mc.src = 'http://cackle.me/mc.widget-min.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mc);
        })();
    </script>
    <a href="http://cackle.me" id="mc-link">система комментирования <b style="color:#4FA3DA">CACKL</b><b style="color:#F65077">E</b></a>
{#    {% get_comment_list for autocenter as comment_list%}#}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{#    {% for comment in comment_list|fill_tree|annotate_tree %}#}
{#        {% place_comment comment %}#}
{#    {% endfor %}#}
{#    {% get_comment_form for autocenter as form %}#}
{##}
{#    <table>#}
{#        <a name="new_comment"></a>#}
{#        <form action="/comments/post/" method="post">{% csrf_token %}#}
{#            {{ form }}#}
{#            <tr>#}
{#                <td colspan="2">#}
{#                    <input type="hidden" name="next" value="{{ autocenter.get_absolute_url }}" />#}
{#                    <input type="submit" name="submit" value="Post">#}
{#                    <input type="submit" name="preview" value="Preview">#}
{#                </td>#}
{#            </tr>#}
{#        </form>#}
{#    </table>#}
{##}


{% endblock %}