{% extends "base_new.html" %}
{% load threadedcomments_tags %}
{% load comments %}

{% if title %}{% block title %}{{ title }}{% endblock%}{% endif %}
{% block content %}
    <h1>Описание местечка</h1>
    <h2>{{ autocenter }}, {{ autocenter.address }}</h2>
    <p>Теги:{% for tag  in autocenter.maintenance.all %}<a href="#">{{ tag }}</a>{% endfor %}</p>

    {{ autocenter.about }}


    {% if user.is_authenticated %}
       <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    {% else %}
       <p>Welcome, new user. Please log in.</p>
    {% endif %}
    {% render_comments autocenter %} <!--- TODO: Сделать форму комментария над списком --->
    <div id="mc-container"></div>
    <script type="text/javascript">
        var mcSite = '16449';
        (function() {
            var mc = document.createElement('script');
            mc.type = 'text/javascript';
            mc.async = true;
            mc.src = 'http://cackle.me/mc.widget-min.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mc);
        })();
    </script>
    <a href="http://cackle.me" id="mc-link">система комментирования <b style="color:#4FA3DA">CACKL</b><b style="color:#F65077">E</b></a>
{#    {% get_comment_list for autocenter as comment_list%}#}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{#    {% for comment in comment_list|fill_tree|annotate_tree %}#}
{#        {% place_comment comment %}#}
{#    {% endfor %}#}
{#    {% get_comment_form for autocenter as form %}#}
{##}
{#    <table>#}
{#        <a name="new_comment"></a>#}
{#        <form action="/comments/post/" method="post">{% csrf_token %}#}
{#            {{ form }}#}
{#            <tr>#}
{#                <td colspan="2">#}
{#                    <input type="hidden" name="next" value="{{ autocenter.get_absolute_url }}" />#}
{#                    <input type="submit" name="submit" value="Post">#}
{#                    <input type="submit" name="preview" value="Preview">#}
{#                </td>#}
{#            </tr>#}
{#        </form>#}
{#    </table>#}
{##}


{% endblock %}